{% extends 'base.html' %}
{% load static %}

{% block content %}
<article>
  {% if val %}
  <section class="p-3 mb-3 border border-info">
    <h4 class="mb-2 text-decoration-underline">通常処理</h4>
    {{ val|safe }}
  </section>
  {% endif %}
  
  {% if pre %}
  <section class="p-3 mb-3 border border-info">
    <h4 class="mb-2 text-decoration-underline">preタグ処理</h4>
    <pre>
{{ pre|safe }}
    </pre>
  </section>
  {% endif %}
  
  {% if url %}
  <section class="p-3 border border-info">
    <h4 class="mb-2 text-decoration-underline">画像処理</h4>
    {% comment %} <img src="{% static url %}" alt="画像処理"> {% endcomment %}
    <img src="data:image/png;base64,{{ url }}" alt="画像処理">
  </section>
  {% endif %}
</article>
{% endblock content %}