{% extends 'base.html' %}
{% load static %}

{% block content %}
<article>
  <ul class="list-group">
    <li class="list-group-item"><a href="{% url 'chap04' %}">4章 TensorFlow・Kerasとは #2</a></li>
    <li class="list-group-item"><a href="{% url 'chap05' %}">5章 Kerasで手書き数字（MNIST）を判定するニューラルネットワークを構築しよう #1</a></li>
    <li class="list-group-item"><a href="{% url 'chap06' %}">6章 Kerasで手書き数字（MNIST）を判定するニューラルネットワークを構築しよう #2</a></li>
    <li class="list-group-item"><a href="{% url 'chap08' %}">8章 Kerasで画像（CIFAR-10）を判定するCNNを構築しよう #1</a></li>
    <li class="list-group-item"><a href="#">9章 Kerasで画像（CIFAR-10）を判定するCNNを構築しよう #2</a></li>
    <li class="list-group-item"><a href="#">10章 学習済みモデルVGG16を転移学習して犬猫画像の判定モデルを構築しよう #1</a></li>
    <li class="list-group-item"><a href="#">11章 学習済みモデルVGG16を転移学習して犬猫画像の判定モデルを構築しよう #2</a></li>
  </ul>
</article>
{% endblock content %}